* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/*****Header******/
.header-container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-image: linear-gradient(to right, #0f2544, #0e223e, #0d1f38, #0c1c32, #0b192c);
  padding: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:999;
}

.titleLemaison {
  font-size: 25px;
  color: white;
}

#sidebar {
  position: fixed;
  background-image: linear-gradient(to right, #0f2544, #0e223e, #0d1f38, #0c1c32, #0b192c);
  left: -200px;
  transition: all 500ms linear;
  height: 100vh;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: white;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

#sidebar ul li a{
  text-decoration: none;
  color: white;
}

.header-container .toggle-btn {
  position: absolute;
  left: 20px;
  top: 30px;
  cursor: pointer;
}

.header-container .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 25px;
  border: 3px solid white;
  color: white;
}

/*********Main**********/


.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-empty {
  height: 100px;
  width: 100%;
}

.container-panel {
  width: 80%;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -webkit-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
}

.container-panel ul {
  list-style: none;
  padding: 5px;
}

.container-mini {
  margin: 20px 10px 0px 10px; 
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -webkit-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
}

.btn-next {
  display: block;
  width: 20%;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 28px 5px #616161; 
  box-shadow: 0px 0px 28px 5px #616161;
}

/*********Footer**********/

.div-derechos {
  text-align: center;
  background-image: linear-gradient(to right, #0f2544, #0e223e, #0d1f38, #0c1c32, #0b192c);
  margin: auto;
  padding: 10px;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.div-derechos p {
  color: #ffffff
}

@media (min-width:768px) {

  .header-container h1 {
      font-size: 40px;
  }
  .nav-bar span {
      font-size: 25px;
  }
  .ul-nav li {
      font-size: 18px;
  }
  .container-mini {
    width: 40%;
  }
  .container-panel {
    width: 90%;
  }
}
@media (min-width:1200px) {
  .header-container h1 {
    font-size: 40px;
}
  .container-mini {
    width: 30%;
}
}