* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

h5, h2 {
  color: #616161;
}


/*****Header******/
.header-container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-image: linear-gradient(to right, #0f2544, #0e223e, #0d1f38, #0c1c32, #0b192c);
  padding: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:999;
}

.titleLemaison {
  font-size: 25px;
  color: #ffffff;
  margin-right: 10px;
}

#sidebar {
  position: fixed;
  background-image: linear-gradient(to right, #0f2544, #0e223e, #0d1f38, #0c1c32, #0b192c);
  left: -1000px;
  transition: all 500ms linear;
  height: 100%;
  /* margin-top: -40px; */
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: #ffffff;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

#sidebar ul li a{
  text-decoration: none;
  color: #94ffe6;
}

.header-container .toggle-btn {
  position: absolute;
  left: 20px;
  top: 25px;
  cursor: pointer;
}

.header-container .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 25px;
  border: 3px solid #ffffff;
  color: #ffffff;
}

/*********Main**********/


.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-empty {
  height: 100px;
  width: 100%;
}

.container-panel {
  border-left: 15px solid #94ffe6;
  width: 80%;
  margin: 25px  auto 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -webkit-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
}

.container-panel img{
  width: 100%;
}

.container-panel a{
  color: #0b192c;
  text-decoration: none;
  cursor: pointer;
}

.container-panel ul {
  list-style: none;
  padding: 5px;
}

.container-mini {
  margin: 10px;
  width: 80%;
  border-radius: 10px;
  border-left: 15px solid #94ffe6;
  padding: 10px;
  display: flex;
  justify-content:left;
  align-items: center;
  box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -webkit-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -7px 17px 9px rgba(0,0,0,0.33);
}

.container-mini span {
  font-size: 15px;
  padding: 10px;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-next {
  display: block;
  width: 20%;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 28px 5px #616161;
  box-shadow: 0px 0px 28px 5px #616161;
}

/*********Footer**********/

.div-derechos {
  text-align: center;
  background-image: linear-gradient(to right, #0f2544, #0e223e, #0d1f38, #0c1c32, #0b192c);
  height: 100px;
  margin: auto;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
}

.div-derechos p {
  color: #ffffff
}

@media (min-width:768px) {

  .titleLemaison {
      font-size: 40px;
      margin-right: 25px;
  }
  .nav-bar , .container-mini span {
      font-size: 20px;
  }
  .ul-nav li {
      font-size: 16px;
  }

  #sidebar {
    margin-top: -3px;
  }

  #sidebar ul li {
    font-size: 20px;
  }
  #sidebar ul li a{
    font-size: 18px;
  }
  .container-mini {
    width: 40%;
    margin-top: 35px;
  }
  .container-panel {
    width: 40%;
    margin-top: 35px;
  }
  .container-panel a{
    font-size: 12px;
  }
  .container-panel, .container-mini h5 {
    font-size: 20px;
  }
  .container-panel  h2 {
    font-size: 22px;
  }

  .container-panel ul li, p {
    font-size: 18px;
  }

  .header-container .toggle-btn {
    top: 35px;
  }
  .container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }


}
@media (min-width:1200px) {
    .titleLemaison {
      font-size: 40px;
      margin-right: 35px;
  }
    .container-mini {
      width: 30%;
  }
  .container-panel a{
    font-size: 15px;
  }
  .container-panel, .container-mini h5 {
    font-size: 25px;
  }
  .container-panel h2 {
    font-size: 28px;
  }
  #sidebar ul li {
    font-size: 25px;
  }
  #sidebar ul li a{
    font-size: 20px;
  }
  .container-main {
    width: 90%;
  }

}